
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style media="screen">
      .header{
        background:blue;
        font-size:40px;
        text-align:center:
      }
    </style>
    <meta charset="utf-8">
    <title>Git Tutorials</title>
  </head>
  <body>
    <div class ="header">
      <h1> Welcome to the GitHUb Tutorials</h1>

      </div>
      <div class="navbar">
        <nav>
          <ul>
            <li>Home</li>
            <li>Jump To Tutorial</li>
            <li>About US</li>
            <li>Work With US</li>
            <li>Contact US</li>
          </ul>
        </nav>
      </div>
  </body>
</html>
